body{
  background-color:#30252F;
  
}
.cabecalho{
  margin-top:0;
  margin-left:auto;
  margin-right: auto;
  width:100%;
 height:180px;
  background-color: #000000;
  color:#FFFFFF;
  text-align:center;
  padding:60px;
  font-size:30px;
  
}


.texto1{
 background-color:#786076;
  width:500px;
  height:300px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding:50px;
  font-size:25px;
 margin-top:150px; 
}
.caixaEscolha{
  background-color:#786076;
  margin-top:100px;
  height:200px;
  width:400px;
  padding:5px;
  margin-bottom:150px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.caixa-principal{
  background-color:#786076;
  margin-top:100px;
  height:150px;
  width:600px;
  padding:50px;
  margin-bottom:600px;
  margin-left:auto;
  margin-right:auto;
  text-align: center; 
  
}
.caixa-perguntas{
   background-color:#786076;
  margin-top:100px;
  height:200px;
  width:400px;
  padding:50px;
  margin-top:300px;
  margin-bottom:300px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  align-items: center;
}
.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #000000;
  font-size: 14px;
  color: #ffffff;
  box-sizing: border-box;
  flex-wrap: wrap;
  row-gap: 5px;
  margin-left: 0;
  margin-right: 0;

}
.rodapetexto{
  text-align: center;
  color:#FFFFFF;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.info-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}


.instagram-link {
  display: flex;
  align-items: center;
}

.Logoinstagram{
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logoinstagram:hover {
  transform: scale(1.1);
}

.rodapetexto{
  display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}