:root{
  --cor-fundo:#30252F;
  --cor-principal:#786076;
  --cor-secundaria:#777777;
  --cor-destaque:#786080;
  --cor-texto:#FFFFFF;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal {
    background-color: var(--primary);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1 {
    color: var(--highlight);
}

button {
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--highlight);
    color: var(--primary);
}


.rodape {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 30px;
 background-color: #000000;
 font-size: 14px;
 color: #ffffff;
 box-sizing: border-box;
 flex-wrap: wrap;
 row-gap: 5px;
 margin-left: 0;
 margin-right: 0;


}
.rodapetexto{
 text-align: center;
 color:#FFFFFF;
 margin-left: auto;
 margin-right: auto;
 font-size: 15px;
}


.info-link {
 display: flex;
 align-items: center;
 cursor: pointer;
 text-decoration: none;
 color: #ffffff;
}




.instagram-link {
 display: flex;
 align-items: center;
}


.Logoinstagram{
 width: 24px;
 height: 24px;
 cursor: pointer;
 transition: transform 0.2s ease;
}


.logoinstagram:hover {
 transform: scale(1.1);
}


.rodapetexto{
 display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
