:root{
  --cor-fundo:#30252F;
  --cor-principal:#786076;
  --cor-secundaria:#777777;
  --cor-destaque:#786080;
  --cor-texto:#FFFFFF;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  background-color: #fa94a3;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: #dda0dd;
}

section p {
  line-height: 1.6;
  text-align: justify;
  font-size: 1.05em;
  margin-bottom: 12px;
}